In [26]:
# divide o conjunto de dados em K partes, realiza a operação de regressão linear K vezes, sendo que cada vez utilizará um 
# conjunto de dados de treino e teste diferentes, ao final terá utulizado todas as K partes como teste em algum momento
# o resultado será a média dos R2 de cada operação

In [27]:
import pandas as pd
pd.set_option('display.max_columns',9)
dados = pd.read_csv('C:/Users/Cliente/IA/basesDeDados/Admission_Predict.csv')
dados.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [28]:
from sklearn.model_selection import cross_val_score, KFold 
from sklearn.linear_model import LinearRegression

In [29]:
dados.drop('Serial No.',axis = 1,inplace=True)
faltantes = dados.isnull().sum()# aqui estou procurando por dados faltantes
print (faltantes)
dados.rename(columns={"Chance of Admit ": "CoA"},inplace = True) # o RETARDADO que criou esse banco encheu os nomes das 
# colunas de espaços o que resultou numa cacetada de erros, aqui estou renomeando a pior delas pra não encher mais o saco

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [30]:
y = dados['CoA']
x = dados.drop('CoA',axis = 1)

In [31]:
modelo = LinearRegression()
kfold  = KFold(n_splits = 5) # splits é o K
resultado = cross_val_score(modelo,x,y,cv = kfold) # os parâmetros são respectivamente: o modelo de regressão, a variável
# independente, a variável alvo, e o metodo de cruzamento de dados

In [33]:
print(max(resultado))

0.8404401504949809