In [70]:
# nesse arquivo cou comparar vários modelos com as mesmas variáveis sorteadas para tentar descobrir como elas se saem em relação
# às demais

In [71]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
import pandas as pd 
pd.set_option('display.max_columns',21)
dados = pd.read_csv('C:/Users/Cliente/IA/basesDeDados/kc_house_data.csv')
dados.head()
#importar a base de dados

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [72]:
from sklearn.model_selection import train_test_split
dados.drop('id',axis=1,inplace=True)
dados.drop('date',axis=1,inplace=True)
dados.drop('zipcode',axis=1,inplace=True)
dados.drop('lat',axis=1,inplace=True)
dados.drop('long',axis=1,inplace=True)
# excluir colunas irrelevantes e não numéricas

In [73]:
y = dados['price'] 
x = dados.drop('price',axis=1) 
x_treino, x_teste,y_treino,y_teste = train_test_split(x,y,test_size=0.30)

In [74]:
modelo = LinearRegression() 
modelo.fit(x_treino,y_treino)
resultado = modelo.score(x_teste,y_teste)
print (resultado)
# regressão linear padrão

0.652650718335333

In [75]:
modelo = Ridge(alpha = 1) 
modelo.fit(x_treino,y_treino)
resultado = modelo.score(x_teste,y_teste)
print (resultado)
# regressão linear com grande normalização

0.6526507740812229

In [76]:
modelo = Lasso(alpha = 1,max_iter = 5000,tol = 0.1) 
modelo.fit(x_treino,y_treino)
resultado = modelo.score(x_teste,y_teste)
print (resultado)
# regressão linear com leve normalização

0.6526505422859925

In [77]:
modelo = ElasticNet(l1_ratio = 0.9,tol = 0.2,max_iter = 2000) #l1 ratio é a constante que define os pesos
modelo.fit(x_treino,y_treino)
resultado = modelo.score(x_teste,y_teste)
print (resultado)
# regressão linear com ElasticNet(Lasso e Ridge combinados)

0.6336201845826359