In [79]:
import pandas as pd
pd.set_option('display.max_columns',9)
dados = pd.read_csv('C:/Users/Cliente/IA/basesDeDados/Admission_Predict.csv')
dados.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [80]:
dados.drop('Serial No.',axis = 1,inplace=True)
faltantes = dados.isnull().sum()# aqui estou procurando por dados faltantes
print (faltantes)
dados.rename(columns={"Chance of Admit ": "CoA"},inplace = True) # o RETARDADO que criou esse banco encheu os nomes das 
# colunas de espaços o que resultou numa cacetada de erros, aqui estou renomeando a pior delas pra não encher mais o saco

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [81]:
y = dados['CoA']
x = dados.drop('CoA',axis = 1)

In [85]:
def modelos(a,b,c,d):
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import ElasticNet
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    reg.fit(x_treino,y_treino)
    ridge.fit(x_treino,y_treino)
    lasso.fit(x_treino,y_treino)
    elastic.fit(x_treino,y_treino)
    resultReg = reg.score(x_teste,y_teste)
    resultRidge = ridge.score(x_teste,y_teste)
    resultLasso = lasso.score(x_teste,y_teste)
    resultElastic = elastic.score(x_teste,y_teste)
    
    resultados = [resultReg,resultRidge,resultLasso,resultElastic] #descobrir qual é o melhor modelo
    r = max(resultados)
    if r == resultados[0]:
        modelo = 'Regressão linear'
    elif r == resultados[1]:
        modelo = 'Regressão Ridge'
    elif r == resultados[2]:
        modelo = 'Regressão Lasso'
    elif r == resultados[1]:
        modelo = 'Regressão Elastic'
    print('O melhor modelo é a',modelo,'com o valor de:',r)# interessante notar que o python adiciona espaços entre os itens
# separados por vírgula de forma automática, de fato uma mão na roda

In [86]:
modelos(x_treino,y_treino,x_teste,y_teste)

O melhor modelo é a Regressão Ridge com o valor de: 0.8407883200757835